# DS & ML Libraries
pandas
numpy
scipy
statsmodels
scikit-learn
openpyxl

# Bayesian Modeling
pymc
pystan
arviz
bambi

# EDA & Visualization
matplotlib
seaborn
plotly
missingno
graphviz

# Jupyter/Colab Support
ipykernel
nbformat
gdown